In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
import copy

## 1. 문제
- i번째 row에 대해 가장 높은 값을 갖는 칼럼명을 max_i라 하자.
- 이 때 가장 많이 max_i로 나타나는 칼럼명을 출력하라.

In [40]:
df = pd.DataFrame(np.random.randint(1, 100, 40).reshape(10, -1), columns=list('ABCD'))

In [41]:
df

    A   B   C   D
0  75   3  52  86
1  33  97  71  64
2  72  54  47   9
3  50  87  80  20
4  27  81   4  64
5  55  79  14  38
6  80  81  86  81
7  72  64  65  50
8  84  26  78  72
9  33  40  43  65

### 베이직하게 문제풀기

In [42]:
A=0
B=0
C=0
D=0
for i in range(10):
    temp = df.loc[i,:]
    result = temp[temp==temp.max()].index[0]
    if result=='A':
        A+=1
    elif result=='B':
        B+=1
    elif result=='C':
        C+=1
    elif result=='D':
        D+=1
if A==max(A,B,C,D):
    print('A')
elif B==max(A,B,C,D):
    print('B')
elif C==max(A,B,C,D):
    print('C')
elif D==max(A,B,C,D):
    print('D')

B

### 판다스 활용 문제풀기

In [44]:
df.apply(lambda x: print(x))  # apply로 각각 행 별로, 열 별로 연산이 가능

0    75
1    33
2    72
3    50
4    27
5    55
6    80
7    72
8    84
9    33
Name: A, dtype: int32
0     3
1    97
2    54
3    87
4    81
5    79
6    81
7    64
8    26
9    40
Name: B, dtype: int32
0    52
1    71
2    47
3    80
4     4
5    14
6    86
7    65
8    78
9    43
Name: C, dtype: int32
0    86
1    64
2     9
3    20
4    64
5    38
6    81
7    50
8    72
9    65
Name: D, dtype: int32

A    None
B    None
C    None
D    None
dtype: object

In [46]:
df.apply(lambda x: print(x), axis=1)  # axis=1 이면 행 방향으로 series가 담긴다

A    75
B     3
C    52
D    86
Name: 0, dtype: int32
A    33
B    97
C    71
D    64
Name: 1, dtype: int32
A    72
B    54
C    47
D     9
Name: 2, dtype: int32
A    50
B    87
C    80
D    20
Name: 3, dtype: int32
A    27
B    81
C     4
D    64
Name: 4, dtype: int32
A    55
B    79
C    14
D    38
Name: 5, dtype: int32
A    80
B    81
C    86
D    81
Name: 6, dtype: int32
A    72
B    64
C    65
D    50
Name: 7, dtype: int32
A    84
B    26
C    78
D    72
Name: 8, dtype: int32
A    33
B    40
C    43
D    65
Name: 9, dtype: int32

0    None
1    None
2    None
3    None
4    None
5    None
6    None
7    None
8    None
9    None
dtype: object

In [48]:
arr = np.array([0,3,1,2])
np.argmax(arr)  # 가장 큰 값의 인덱스가 출력된다

1

In [51]:
def getMAXi(x):  # 행 series가 왔을때
    i = np.argmax(x)
    return x.index[i]  # x.index 'ABCD ' 중 i번째 인덱스를 뽑게 된다

In [53]:
df.apply(getMAXi, axis=1)

0    D
1    B
2    A
3    B
4    B
5    B
6    C
7    A
8    A
9    D
dtype: object

In [55]:
df.apply(getMAXi, axis=1).value_counts()  # default 내림차순

B    4
A    3
D    2
C    1
dtype: int64

In [57]:
df.apply(getMAXi, axis=1).value_counts()[0]

4

In [58]:
df.apply(getMAXi, axis=1).value_counts().index[0]

'B'

## 2. 문제
- 각 row에 대해 가장 Euclidean 거리가 가까운 index를 갖는 칼럼을 생성하라.

In [82]:
df = pd.DataFrame(np.random.randint(1, 100, 40).reshape(10, -1), columns=list('xyzw'), index=list('abcdefghij'))
df  # 4차원 벡터

    x   y   z   w
a  90  28  56  20
b  38  98   9  72
c  11   7  34  32
d  67  54  75  83
e  72  90  18  35
f  76  89  21  39
g  29  52  72   7
h  10  79   1  65
i  64  19  64  65
j   3  86  67  38

In [83]:
# norm 계산
arr = np.array([1,2,3])
arr

array([1, 2, 3])

In [62]:
np.linalg.norm(arr)  # norm 끼리의 차이는 거리가 될 것

3.7416573867739413

In [66]:
# list 각각 i, row를 하나씩 뽑아내준다
for i, row in df.iterrows():
    print(i)
    print(row)
    break

a
x     4
y    28
z     6
w    66
Name: a, dtype: int32

In [67]:
result = []
for i, row in df.iterrows():
    result.append(np.linalg.norm(row))

In [72]:
df['norm'] = result
df.norm

a     72.055534
b    140.452839
c    153.941547
d    107.335921
e    143.418967
f     98.893883
g    145.044821
h     94.841974
i    146.263461
j     67.201190
Name: norm, dtype: float64

In [75]:
result=[]
for i in range(len(df.norm)):
    for j in range(len(df.norm)):
        temp = abs(df.norm[i]-df.norm[j])
        min(temp)

72.05553413860729

### 판다스 활용 문제풀기

In [84]:
nearest_rows = []

for i, row in df.iterrows():
    break

In [85]:
i

'a'

In [86]:
row

x    90
y    28
z    56
w    20
Name: a, dtype: int32

In [87]:
# 일단 break 걸고 얻어진걸 보면서 코드를 짠다

In [89]:
rest = df.drop(i)
rest  # 나머지 녀석들만 남긴다

    x   y   z   w
b  38  98   9  72
c  11   7  34  32
d  67  54  75  83
e  72  90  18  35
f  76  89  21  39
g  29  52  72   7
h  10  79   1  65
i  64  19  64  65
j   3  86  67  38

In [90]:
row.values  # array 형태로 바뀐다

array([90, 28, 56, 20])

In [91]:
rest.apply((lambda r: np.linalg.norm(row.values - r.values)), axis=1)  # 빼고 norm 해야 거리가 나온다

b    111.879399
c     85.498538
d     74.397581
e     76.400262
f     74.182208
g     68.716810
h    118.536914
i     53.347915
j    106.667708
dtype: float64

In [92]:
rest.apply((lambda r: np.linalg.norm(row.values) - np.linalg.norm(r.values)), axis=1)  # norm 끼리 빼면 다른 값이 나온다

b   -16.277301
c    62.968255
d   -29.689634
e   -10.345751
f   -13.690872
g    17.754072
h     8.649139
i    -1.594762
j    -4.045206
dtype: float64

In [93]:
nearest_rows = []

for i, row in df.iterrows():
    rest = df.drop(i)
    nidx = rest.apply((lambda r: np.linalg.norm(row.values - r.values)), axis=1).sort_values().index[0]
    nearest_rows.append(nidx)

In [94]:
nearest_rows

['i', 'h', 'g', 'i', 'f', 'e', 'j', 'b', 'd', 'g']

In [95]:
df['nearest_row'] = nearest_rows

In [96]:
df

    x   y   z   w nearest_row
a  90  28  56  20           i
b  38  98   9  72           h
c  11   7  34  32           g
d  67  54  75  83           i
e  72  90  18  35           f
f  76  89  21  39           e
g  29  52  72   7           j
h  10  79   1  65           b
i  64  19  64  65           d
j   3  86  67  38           g

In [104]:
np.sqrt((90-38)**2 + (28-98)**2 + (56-9)**2 +(20-72)**2)

111.87939935484101