# Python
---
### Python 기본 문법 - with coding test

#### 지수 표현 방식

In [1]:
10e9

10000000000.0

#### 실수형

In [2]:
round(123.456, 2)

123.46

#### 수 자료형의 연산

- / : 나누기
- % : 나머지
- // : 몫
- ** : 거듭제곱

#### 리스트 초기화

In [4]:
a = [1,2,3,4,5,6,7,8,9]
print(a)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [5]:
print(a[3])

4

In [6]:
n=10
a=[0]*n
print(a)

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

#### 리스트 인덱싱과 슬라이싱

In [7]:
a = [1,2,3,4,5]
print(a)

[1, 2, 3, 4, 5]

In [8]:
a[4]=1  # 인덱스로 접근해서 값을 바꿀 수 있다
print(a)

[1, 2, 3, 4, 1]

#### 리스트 컴프리헨션
- 리스트 초기화 방법 중 하나
- 대괄호 안에 조건문과 반복문을 적용

In [9]:
array = [i for i in range(10)]
print(array)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [10]:
# 리스트 컴프리헨션
array = [i for i in range(20) if i % 2 == 1]
print(array)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [12]:
# 일반 코드 - 더 길고 복잡하다
array = []
for i in range(20):
    if i % 2 == 1:
        array.append(i)
print(array)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [11]:
array = [i * i for i in range(1, 10)]
print(array)

[1, 4, 9, 16, 25, 36, 49, 64, 81]

N * M 크기 2차원 리스트를 한 번에 초기화 할 때 유용하다

In [16]:
n = 3
m = 4
array1 = [[0] * m for _ in range(n)]
print(array1)

[[0, 0, 0, 0], [0, 0, 0, 0], [0, 0, 0, 0]]

In [17]:
array2 = [[0] * m] * n
print(array2)

[[0, 0, 0, 0], [0, 0, 0, 0], [0, 0, 0, 0]]

둘의 차이점은?

In [18]:
array1[0][0]=1
print(array1)

[[1, 0, 0, 0], [0, 0, 0, 0], [0, 0, 0, 0]]

In [19]:
array2[0][0]=5  # 전체 리스트 안에 포함된 각 리스트가 모두 같은 객체로 인식되어버림
print(array2)

[[5, 0, 0, 0], [5, 0, 0, 0], [5, 0, 0, 0]]

#### 언더바 사용

In [22]:
# i 가 의미를 가지면 변수 사용
summary = 0
for i in range(1, 10):
    summary += i
print(summary)

45

In [21]:
# 단순 반복일 때 _ 언더바 사용
for _ in range(5):
    print("Hello World")

Hello World
Hello World
Hello World
Hello World
Hello World

#### 리스트 관련 메소드
- 변수명.append()
- 변수명.sort(), sort(reverse=True)
- 변수명.reverse()
- insert(인덱스, 삽입값)
- 변수명.count(특정값)
- 변수명.remove(특정값)

In [24]:
array = [1,2,3,4,5,5,5]
remove_set = {3,5}
result = [i for i in array if i not in remove_set]
print(result)

[1, 2, 4]

#### 튜플
- 서로 다른 성질의 데이터를 묶어서 관리
- 해싱(Hashing)의 key 값으로 사용
- 리스트보다 메모리를 효율적으로 사용
- 변경이 불가능

#### 사전 자료형
- keys()
- values()

In [25]:
data = dict()
data['사과'] = 'Apple'
data['바나나'] = 'Banana'
data['코코넛'] = 'Coconut'

key_list = data.keys()
value_list = data.values()
print(key_list)
print(value_list)

for key in key_list:
    print(data[key])

dict_keys(['사과', '바나나', '코코넛'])
dict_values(['Apple', 'Banana', 'Coconut'])
Apple
Banana
Coconut

#### 집합 자료형
- 중복 불허
- 순서가 없음
- set()
- ({}) 안 각 원소를 콤마(,) 기준으로 구분하여 삽입
- 데이터 조회 및 수정에서 O(1)의 시간 처리 가능

#### 입력 방법
- input()
- map()

In [26]:
list(map(int, input().split()))

1

[1]

In [29]:
a, b, c = map(int, input().split())

1 3 4

In [32]:
n = int(input())
data = list(map(int, input().split()))
data.sort(reverse=True)
print(data)

4
3 4 5 1
[5, 4, 3, 1]

#### 빠르게 입력 받기
- sys.stdin.readline() 메서드 사용

In [34]:
import sys

data = sys.stdin.readline().rstrip()  # 입력 후 enter가 줄바꿈으로 인식되지 않게 rstrip()
print(data)

#### f-string

In [35]:
answer = 7
print(f'정답은 {answer}입니다.')

정답은 7입니다.

#### 기타 연산자
- in, not in
- list, tuple, string, dict 모두 사용 가능

In [36]:
i = 1
result = 0
while i <= 9:
    result += i
    i += 1
print(result)

45

In [37]:
result = 0
for i in range(1, 10):
    if i % 2 == 0:
        continue
    result += i
print(result)

25

In [38]:
i = 1
while True:
    print("현재 i의 값:", i)
    if i == 5:
        break
    i += 1

현재 i의 값: 1
현재 i의 값: 2
현재 i의 값: 3
현재 i의 값: 4
현재 i의 값: 5

#### 람다 표현식

In [39]:
def add(a, b):
    return a+b
print(add(3, 7))

10

In [40]:
print((lambda a, b: a+b)(3, 7))

10

In [41]:
array = [('a', 10), ('b', 5), ('c', 50)]
def my_key(x):
    return x[1]
print(sorted(array, key=my_key))

[('b', 5), ('a', 10), ('c', 50)]

In [42]:
print(sorted(array, key=lambda x: x[1]))

[('b', 5), ('a', 10), ('c', 50)]

#### 자주 사용하는 표준 라이브러리
- 내장 함수
- itertools : 순열, 조합
- heapq : 힙(Heap) 자료구조, 우선순위 큐 기능
- bisect : 이진 탐색(Binary Search)
- collections : 덱(deque), 카운터(Counter)
- math : 팩토리얼, 제곱근, 최대공약수(GCD), 삼각함수, 파이(pi)

In [43]:
result = sum([1,2,3,4,5])
print(result)

15

In [1]:
min_result = min(7,3,5,2)
max_result = max(7,3,5,2)
print(min_result, max_result)

2 7

In [2]:
result = eval("(3+5)*7")
print(result)

56

In [3]:
result = sorted([9,1,8,5,4])
reverse_result = sorted([9,1,8,5,4], reverse=True)
print(result)
print(reverse_result)

[1, 4, 5, 8, 9]
[9, 8, 5, 4, 1]

In [4]:
array = [('a', 10), ('b', 5), ('c', 50)]
result = sorted(array, key=lambda x: x[1], reverse=True)
print(result)

[('c', 50), ('a', 10), ('b', 5)]

In [5]:
# 순열
from itertools import permutations

data = ['A', 'B', 'C']

result = list(permutations(data, 3))
print(result)

[('A', 'B', 'C'), ('A', 'C', 'B'), ('B', 'A', 'C'), ('B', 'C', 'A'), ('C', 'A', 'B'), ('C', 'B', 'A')]

In [7]:
# 조합
from itertools import combinations

data = ['A', 'B', 'C']

result = list(combinations(data, 2))
print(result)

[('A', 'B'), ('A', 'C'), ('B', 'C')]

In [8]:
# 중복 순열
from itertools import product

data = ['A', 'B', 'C']

result = list(product(data, repeat=2))
print(result)

[('A', 'A'), ('A', 'B'), ('A', 'C'), ('B', 'A'), ('B', 'B'), ('B', 'C'), ('C', 'A'), ('C', 'B'), ('C', 'C')]

In [9]:
# 중복 조합
from itertools import combinations_with_replacement

data = ['A', 'B', 'C']

result = list(combinations_with_replacement(data, 2))
print(result)

[('A', 'A'), ('A', 'B'), ('A', 'C'), ('B', 'B'), ('B', 'C'), ('C', 'C')]

In [10]:
# Counter
from collections import Counter

counter = Counter(['red', 'blue', 'red', 'green', 'blue', 'blue'])

print(counter['blue'])
print(counter['green'])
print(dict(counter))

3
1
{'red': 2, 'blue': 3, 'green': 1}

In [11]:
# 최대공약수, 최소공배수
import math

def lcm(a, b):
    return a*b // math.gcd(a, b)

a=21
b=14

print(math.gcd(21, 14))
print(lcm(21, 14))

7
42